
*:focus {outline: none;}

#nara
{
	clear:both;
}

hr
{
	height:1px;
	border: 0px;
	background: #B7C0CE;
	clear: both;
	margin: 0 0 5px 0;
}

body
{
	position: relative;
	margin:0;
	padding:0;
	background: #0E4F8E url(../img/paisaje.jpg) no-repeat center top fixed;
	background-size: cover;
	font-family: verdana;
}

#clutter, #opciones
{
	width:100%;
	color:#000;
	font-size: 12px;
	height: 26px;
	text-align: center;
	clear: both;
	position: fixed;
	top:0;
	z-index:1977;
}

#clutter
{
	background: #eee;
}

#opciones
{
	top:26px;
	background: rgba(230,230,230,0.8);
}

#clutter a, #ficha a, blockquote a, .liguita
{
	color: #477;
	background: #8cdcda;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 20px;
	box-shadow: 0 0 10px #8cdcda;
}

#ficha a.st
{
	background: yellow;
}

#ficha a.can
{
	background: red;
}

#clutter a:hover, #ficha a:hover, blockquote a:hover
{
	color: #4d4d4d;
	background: #f16a70;
}

#clutter ul, dl
{
	margin:5px 5px;
	padding:0;
}

#clutter ul li
{
	display: inline;
	margin-right: 20px;
}

#opciones
{
	color: #999;
	height: 20px;
	padding: 2px 0;
 	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
}

@keyframes voila
{
	from{
		opacity: 0;
		margin: 70px auto;
	}
	to{
		opacity: 1;
		margin: 90px auto;
	}
}

#app
{
	font-size: 11px;
	margin: 70px auto;
	padding: 0 0 5px 0;
	width: 90%;
	height: auto;
	min-height: 50px;
	background: rgba(255,255,255,0.9) url(../img/selloteAlfa.png) no-repeat 735px 10px;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	border-radius: 3px;
	opacity: 1;
	//animation: 2s voila ease-in forwards;
}


#app h1, #app h2
{
	font-size: 20px;
	color: #333;
	margin: 5px;
	margin-bottom: 3px;
	clear: both;
	font-style: italic;
	text-shadow: #fff 1px 1px 2px;
	-moz-text-shadow: #fff 1px 1px 2px;
}

#app h2
{
	font-size: 15px;
}

blockquote h2
{
	color: #444;
}

#app h1 a
{
	text-decoration: none;
	font-style: normal;
	color: #6FC649;
}

#app p, #app blockquote
{
	font-size: 10px;
	margin: 0 10px;
}

#app blockquote, dd
{
	border:0px;
	border-left: solid 3px rgba(214, 229, 250, 0.5);
	width:90%;
	margin: 5 auto;
	padding: 0 5px;
	color: #444;
}

#app ul
{
	margin: 0;
}

form
{
	margin: 0px;
}

input[type=text], textarea, input[type=password]
{
	border: 0px;
	font-family: "trebuchet ms", arial;
	font-size: 11px;
	color: #333;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 4px;
 	-moz-box-shadow:-1px -1px 2px #000;
	box-shadow:-1px -1px 2px #000;
	-webkit-box-shadow:-1px -1px 2px rgba(0,0,0,0.5);
	background: rgba(255,255,255,0.8);
	margin-top:3px;
	margin-bottom:3px;
}

textarea
{
	font-size:9px;
}

input[type=submit], input[type=button], .liga, .liga2
{
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
	font-size: 11px;
	color: #fff;
	background: #0674B7;
	border: 0px;
	font-family: "trebuchet MS";	
}

input[type=submit]:disabled
{
	background: #A4A5A6;
}

.liga, .liga2
{
	text-decoration: none;
	padding: 4px 10px;
	text-transform: small-caps;
	cursor: pointer;
}

.liga2
{
	background: #f6B7B1;
}

.rojo
{
	color: #BC0000;
}

input.grande
{
	height:30px;
	font-size: 20px;
}

.clicable
{
	cursor: pointer;
}

tr.renglon
{
	background: transparent;
}

tr.renglon:hover
{
	background: rgba(0,0,0,0.1);
}

#app input[type=submit], #app input[type=button]
{
	font-size:13px;
	padding: 3px 10px;
	font-family:"Trebuchet MS"; 
	font-weight: bold;
	cursor: pointer;
}

#app input:hover[type=submit], #app input:hover[type=button]
{
	background: #319BDB;
 	-moz-box-shadow:0 0 5px rgba(49,155,219,0.5);
	box-shadow:0 0 5px rgba(49,155,219,0.5);
	-webkit-box-shadow:0 0 5px rgba(49,155,219,0.5);
}

#reng
{
	font-size: 12px;
	margin: 3px;
	padding: 5px;
	text-transform: uppercase;
	float: left;
	width: 290px;
	min-height: 20px;
	height: auto;
	border: solid red 1px;
}

#reng a:hover
{
	color: #000;
	background: rgba(0,0,0,0.1);
 	-moz-box-shadow:0 0 10px rgba(255,255,255,0.5);
	box-shadow:0 0 10px rgba(255,255,255,0.5);
	-webkit-box-shadow:0 0 10px rgba(255,255,255,0.5);
}

#reng a
{
	text-decoration: none;
	color: #000;
	background: transparent;
	padding: 0 8px;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.mayusculas
{
	text-transform: uppercase;
}

#etiq2
{
	min-width: 100px;
	width: auto;
	float:left;
	text-align: right;
	font-size: 11px;
	margin-right: 10px;
}

#etiq, #opciones #etiq
{
	width: 100px;
	top:auto;
	font-size: 11px;
	margin-right: 10px;
}

#app #etiq2
{
	display:block;
}

#opciones #etiq
{
	min-width:100px;
	width:auto;
	text-align: right;
}

#campo
{
	width: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 7px;
}

#ficha
{
	width: 300px;
	height: 80px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: transparent;
}

#numcontrato
{
	float: left;
	font-size: 20px;
	width: 100px;
	text-align: right;
	padding-right: 5px;
	margin-right: 5px;
	border: solid green 0px;
}

#direccion
{
	float: left;
	text-transform: uppercase;
	width: 185px;
}

.notiene
{
	color: rgba(0,0,0,0.4);
}

#formato
{
	width: 600px;
	height: auto;
	margin: 5px auto;
	background: transparent;
}

#tarjeta
{
	background: #fff;
	border: solid 1px #eee;
	width:300px;
	height: auto;
	padding:5px;
	float:left;
 	-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input.oblig
{
	background-image: url('../img/oblig.png');
	background-repeat: no-repeat;
	background-position: right 2px;	
}

#aviso
{
	width:100%;
	text-align:right;
	height: auto;
	font-size:10px;
}

small
{
	color: rgba(0,0,0,0.5);
}

#mensajes
{
	position: absolute;
	top: 50px;
	width:100%;
	height:auto;
	background: rgba(0,0,0,0.9);
	z-index:10;
	text-align: center;
	color: #fff;
	border-top: solid 1px rgba(230,230,200,0.8);
	border-bottom: solid 1px rgba(230,230,200,0.8);
	display:none;
	padding: 10px;
 	-moz-box-shadow:0 0 30px rgba(0,0,0,0.8);
	box-shadow:0 0 30px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 0 30px rgba(0,0,0,0.8);
}

.numcto
{
	width:50px;
	float: left;
}

.derecha
{
	text-align: right;
}

td
{
	font-size: 11px;
	vertical-align: top;
}

.efecto
{
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.vertical
{
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	right:0px;
	top:0px;
}

.panel300
{
	margin-left: 10px;
	height:300px;
	width:300px;
	overflow-y:scroll;
	overflow-x:hidden;
	float: left;
	position: relative;
}

#mensualidades th, #mensualidades td
{
	color: #fff;
}

#mensualidades th
{
	border-top: dotted 1px #ddd;
}

select
{	
	width:220px;
	text-transform: uppercase;
	outline: none;
}

#mensaje
{
	margin: 10px;
	padding: 3px;
	color: #FF8100;
	font-size: 11px;
	text-transform: uppercase;
}

#notasCto
{
	background: transparent url(../img/nota.png) no-repeat top left;
	position: absolute;
	z-index:1000;
	width:340px;
	height:170px;
	right:150px;
	top: -35px;
	border: 0px;
}

#notasCto ul li
{
	margin-bottom:5px;
}

.liactiva
{
	color: #793300;
}

.lidesactiva
{
	color: rgba(0,0,0,0.2);
}

#notasCto ul li a
{
	text-decoration: none;
}

#agregarNota
{
	margin-left: 5px;
	margin-bottom;
}

.bco
{
	color: #fff;
}

input.dinero
{
	background: #fff url('../img/pesos.png') no-repeat top left;
}

fieldset
{
	border:solid 1px #aaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-top:3px;
}

legend
{
	text-transform: uppercase;
	background:#aaa;
	color: #fff;
	padding-left: 5px;
	padding-right:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

th
{
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	border-bottom: solid 1px #aaa; 
}

.centrar
{
	text-align:center;
}

#iconoarchivo
{
	width:180px;
	height:100px;
	float: left;
	margin: 5px 10px 5px 5px;
	text-align:center;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:transparent;	
	border: solid 1px rgba(255,255,255,0.2);
}

#iconoarchivo:hover
{
	border: solid 1px rgba(0,0,0,0.2);
	background:rgba(255,255,255,0.8);
	cursor:pointer;
	color: #000;
}

h1 a img
{
	vertical-align:middle;
	border:0px;
}

.anotacioncto, input[type=submit].anotacioncto
{
	background: #FFA500;
}

.divanotacioncto
{
	border-left: solid 4px #ffa500;
}

.propietariocto, input[type=submit].propietariocto
{
	background: #FF5900;
}

.divpropietariocto
{
	border-left: solid 4px #ff5900;
}

.cargoscto, input[type=submit].cargoscto
{
	background: #82C804;
}

.divcargoscto
{
	border-left: solid 4px #82c804;
}

.estadocto, input[type=submit].estadocto
{
	background: #FF0068;
}

.divestadocto
{
	border-left: solid 4px #ff0068;
}

